h3{
    font-size: 25px;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 5px 5px 18px red;}
    to{box-shadow: 5px 5px 18px blue;}
}